.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 10px;
}




.intro-touroneday {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.tour-oneday {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(25% - 15px);
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-left: 10px;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product h5 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product h4 {
  font-size: 16px;
  color: #d9534f;
  margin-bottom: 10px;
}

.product span {
  font-size: 14px;
  color: #777;
}

.button-sua-xoa {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.button-sua-xoa .btn {
  font-size: 14px;
  padding: 8px 20px;
  background-color: #0275d8;
  border-color: #0275d8;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-sua-xoa .btn:hover {
  background-color: #025aa5;
  border-color: #025aa5;
}
