<!-- <div>   
    <h3>List</h3>
    <a class="btn-icon-back" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
    </a>
</div> -->
<nav style="margin-top: 20px; margin-left: 30px;" class="breadcrumb">
    <a class="breadcrumb-link" (click)="goBack2()">Trang Chủ</a>
    <span class="breadcrumb-separator">›</span>
    <a class="breadcrumb-link" (click)="goBack()" >List Product</a>
</nav>
<div class="product-detail-container">
    <div style="margin-left: 30px; border-radius: 5px;" class="product-image-container">
      <img [src]="product.PathAnh" alt="{{ product.product_name }}" class="product-image">
    </div>
    <div class="product-info">
      <h1 class="product-title">{{ product.product_name }}</h1>
      <p class="product-price">${{ product.price }}</p>
      
      <!-- Thông tin mô tả chi tiết -->
      <div class="product-description">
        <h3>Mô tả sản phẩm</h3>
        <p>Sản phẩm này là một chiếc điện thoại thông minh với màn hình 6.5 inch, camera 48MP và bộ vi xử lý mạnh mẽ. Với thiết kế tinh tế và hiệu năng ổn định, chiếc điện thoại này sẽ là người bạn đồng hành lý tưởng cho bạn trong công việc và giải trí.</p>
      </div>
  
      <!-- Thông số kỹ thuật -->
      <div class="product-specs">
        <h3>Thông số kỹ thuật</h3>
        <ul>
          <li><strong>SKU:</strong> 123456789</li>
          <li><strong>Trọng lượng:</strong> 0.4 kg</li>
          <li><strong>Màu sắc:</strong> Đen, Xanh dương, Trắng</li>
          <li><strong>Kích thước màn hình:</strong> 6.5 inch</li>
          <li><strong>Camera:</strong> 48MP</li>
          <li><strong>Vi xử lý:</strong> Snapdragon 888</li>
        </ul>
      </div>
    </div>
  </div>